body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background:  rgba(123, 146, 155, 0.63);
}

h1 {
  margin-bottom: 20px;
}

.control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Creates space between the elements */
}

/* Toggle button */
.toggleButton-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  font-size: 16px;
  padding: 10px 20px;
}

#toggleButton {
  background-color: #1b8644; /* Green background for 'open' */
  color: white;
}

#toggleButton.off {
  background-color: #f44336; /* Red background for 'close' */
  color: white;
}

/* Momentary Button */
.momentaryButton-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#momentaryButton {
  background-color: #4c90affb; /* Green background */
  color: white;
  cursor: pointer;
  font-weight: bold;
}
#momentaryButton[disabled] {
  background-color: #4c90af7c ; 
  color: #180909;
  cursor: not-allowed;
  font-weight:lighter;
}

.slider-container {
  position:relative;
  width: 90vw;
  height: 50vh; 
  padding: 0%; 
  margin:0;
  background: #babbb688;
  border: 3px solid #171f2e8e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* Vertical slider styling */
input[type="range"] {
  position:inherit; 
  width: 70%;
  height: 90%;
  padding: 0;
  margin:5%;
  appearance: none;
  background-color: #20201f rgba(252,252,252,30%);                      
  transform: rotate(270deg); /* To make it vertical */
  overflow:hidden;
}
/* Customize the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  position:inherit;
  appearance: none;
  width: 10%; /* 70% of container */
  height: 100%; /* actuall its width */
  background-color: #215a6b ;
  border: 3px solid #0e57e9;
  border-radius: 5px;
  cursor:  pointer;
}
/* Track appearance */
input[type="range"]::-webkit-slider-runnable-track {
  position:inherit;
  height: 100%;
  width:100%;
  margin:0%;
  background:no-repeat center stretch ;
  background-color: #20201f #e4e6dc;
  border-radius: 5px;
  overflow: hidden;
}

 .labelclose{
  font-size:20px;
  font-weight: bold;
  position:relative;
  bottom:20%;
}
.labelopen{
  font-size:20px;
  font-weight: bold;
  position: absolute;
  top:5%;
} 
button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;

}
/* 
#momentaryButton {
  background-color: #4c90af85; 
  color: white;
  padding : 10px 20px;
  margin: 5px;
  bottom: 0;
  order: 1;
}

#momentaryButton.waiting {
  background-color: #808080; 
  color: white;
}
*/
/* Disable button style */
