body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background: linear-gradient(to right, rgba(10, 97, 155, 0.479), rgb(255, 187, 0));
}

.control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

.slider-container {
  position: absolute;top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 20%; 
  padding: 2%; 
  padding-left: 2%;
  background: #fcfcfc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #7E6D5766;
}
input[type="range"] {
  width: 100%;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
}
#toggleButton {
  background-color: #1b8644; /* Green background for 'open' */
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

#toggleButton.off {
  background-color: #f44336; /* Red background for 'close' */
  color: white;
}

#toggleButton:not(.off) {
  background-color: #4c74af; /* Red background for 'close' */
  color: white;
}
#momentaryButton {
  background-color: #4c90af85; /* Green background for normal state */
  color: white;
  padding : 10px 20px;
  margin: 5px;
  bottom: 0;
  order: 1;
}

#momentaryButton.waiting {
  background-color: #808080; /* Grey background while waiting */
  color: white;
}

/* Disable button style */
#momentaryButton[disabled] {
  background-color: #d3d3d37a; /* Light grey for disabled state */
  color: #180909; /* Dark grey text for disabled state */
  cursor: not-allowed;
}
